{{define "title"}}Meus Favoritos{{end}}

{{define "main"}}
    <h1>Meus Favoritos</h1>
    <table>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th>ID</th>
    </tr>
    {{range .Snippets}}
    <tr>
      <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
      <td>{{humanDate .Created}}</td>
      <td>#{{.ID}}</td>
    </tr>
    </table>
    {{else}}
        <p>Você ainda não tem snippets favoritos.</p>
    {{end}}
{{end}}
